<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<beans>
    <bean qualifiredName="v1" className="com.Classes.Voiture" ></bean>
    <bean qualifiredName="v2" className="com.Classes.Voiture" ></bean>
    <bean qualifiredName="v3" className="com.Classes.Voiture" ></bean>
    <bean qualifiredName="g1" className="com.Classes.Garage">
        <propetry name="voiture" ref="v1"></propetry>
    </bean>
</beans>